USE [SAS]
GO
/****** Object:  StoredProcedure [dbo].[PG_SAS_08$SP_TOTAL_SUPORTE_PEDAGOGICO]    Script Date: 09/08/2018 16:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[PG_SAS_08$SP_TOTAL_SUPORTE_PEDAGOGICO]
@p_periodo varchar(max)
AS 
/*
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
| Descrição : Relatorio P:\SAS\RELATORIOS\08-ESPELHO\PRODESP\ERNICA\4 - OK
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
*/
BEGIN

SET NOCOUNT ON;

    DECLARE

	@v_sql varchar(max);



set @v_sql = 
'SELECT (SELECT nm_regiao 
        FROM   sas..tb_diretoria_regiao R 
        WHERE  R.COD_DIRETORIA = TB6444.CD_DIRETORIA)          REGIAO, 
       TB6444.NM_DIRETORIA, 
       TB6444.CD_DIRETORIA, 
       Isnull (TB6444.a, 0)                               AS	''EFETIVO'', 
       Isnull (TB6444.d, 0)                               AS	''DESIGNADO'', 
       Isnull (TB6444.total, 0)                           AS	''TOTAL_SUPERVISOR'', 
       Isnull (TB6200.a, 0)                               AS	''EFETIVO2'', 
       Isnull (TB6200.d, 0)                               AS	''DESIGNADO2'', 
       Isnull (TB6200.total, 0)                           AS	''TOTAL_DIRETOR'', 
       Isnull (TB_6193.[dirigente regional de ensino], 0) AS	''DIRIGENTE_REGIONAL_DE_ENSINO'', 
       Isnull (TB_6649.[coordenador pedagogico], 0)       AS	''COORDENADOR_PEDAGOGICO'', 
       Sum(TB6444.total + TB6200.total 
           + Isnull(TB_6193.[dirigente regional de ensino], 0) 
           + Isnull(TB_6649.[coordenador pedagogico], 0))       ''TOTAL_SUPORTE_PEDAGOGICO'' 
FROM   (SELECT 6444  CARGO, 
               NM_DIRETORIA, 
               CD_DIRETORIA, 
               cd_ident_cat_func_tit, 
               a, 
               d, 
               a + d TOTAL 
        FROM   (SELECT D.NM_DIRETORIA, 
                       A.CD_DIRETORIA, 
                       cd_ident_cat_func_tit, 
                       cd_ident_sit_vinc_tit 
                FROM   (SELECT Isnull(E.CD_DIRETORIA, d.CD_DIRETORIA) 
                               CD_DIRETORIA, 
                               cd_ident_cat_func_tit, 
                               cd_ident_sit_vinc_tit 
                        FROM   sas.['+@p_periodo+'].tb_funcional F 
                               LEFT JOIN sas.['+@p_periodo+'].tb_escola E 
                                      ON F.cd_unid_adm_class_tit = E.CD_UNIDADE_ADMIN 
                               LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                                      ON D.CD_UNIDADE_ADM =  F.cd_unid_adm_class_tit 
                        WHERE  F.cd_sit_reg = ''A'' 
                               AND cod_cargo IN ( 6444 ))A 
                       LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                              ON D.CD_DIRETORIA = A.CD_DIRETORIA)B 
               PIVOT (Count (cd_ident_sit_vinc_tit) 
                     FOR cd_ident_sit_vinc_tit IN ([A], 
                                                   [D]))P)TB6444 
       FULL OUTER JOIN (SELECT 6200  CARGO, 
                               NM_DIRETORIA, 
                               CD_DIRETORIA, 
                               cd_ident_cat_func_tit, 
                               a, 
                               d, 
                               a + d TOTAL 
                        FROM   (SELECT * 
                                FROM   (SELECT E.CD_DIRETORIA, 
                                               cd_ident_cat_func_tit, 
                                               cd_ident_sit_vinc_tit, 
                                               d.NM_DIRETORIA 
                                        FROM   sas.['+@p_periodo+'].tb_funcional F 
                                               LEFT JOIN sas.['+@p_periodo+'].tb_escola E 
                                                      ON F.cd_unid_adm_class_tit = E.CD_UNIDADE_ADMIN 
                                               LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                                                      ON E.CD_DIRETORIA = D.CD_DIRETORIA 
                                        WHERE  F.cd_sit_reg = ''A'' 
                                               --and d.CD_DIRETORIA = 20207                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                               AND cod_cargo IN ( 6200 ))A 
                                       PIVOT (Count (cd_ident_sit_vinc_tit) 
                                             FOR cd_ident_sit_vinc_tit IN ([A], 
                                                                           [D])) 
                                       P)B) TB6200 
                    ON TB6444.CD_DIRETORIA = TB6200.CD_DIRETORIA 
       FULL OUTER JOIN (SELECT Isnull(A.CD_DIRETORIA, D.CD_DIRETORIA) 
                               CD_DIRETORIA, 
                               Count (*) ''DIRIGENTE REGIONAL DE ENSINO'' 
                        FROM   (SELECT E.CD_DIRETORIA, 
                                       cd_ident_cat_func_tit, 
                                       cd_ident_sit_vinc_tit, 
                                       d.NM_DIRETORIA, 
                                       cd_unid_adm_class_tit 
                                FROM   sas.['+@p_periodo+'].tb_funcional F 
                                       LEFT JOIN sas.['+@p_periodo+'].tb_escola E 
                                              ON F.cd_unid_adm_class_tit = E.CD_UNIDADE_ADMIN 
                                       LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                                              ON E.CD_DIRETORIA = D.CD_DIRETORIA 
                                WHERE  F.cd_sit_reg = ''A'' 
                                       AND cod_cargo IN ( 6193 ))A 
                               LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                                      ON A.cd_unid_adm_class_tit = D.CD_UNIDADE_ADM 
                        GROUP  BY Isnull(A.CD_DIRETORIA, D.CD_DIRETORIA)) 
                       TB_6193 
                    ON TB6444.CD_DIRETORIA = TB_6193.CD_DIRETORIA 
                       AND TB_6193.CD_DIRETORIA = TB6200.CD_DIRETORIA 
       FULL OUTER JOIN (SELECT Isnull(A.CD_DIRETORIA, D.CD_DIRETORIA) 
                               CD_DIRETORIA, 
                               Count (*) ''COORDENADOR PEDAGOGICO'' 
                        FROM   (SELECT E.CD_DIRETORIA, 
                                       cd_ident_cat_func_tit, 
                                       cd_ident_sit_vinc_tit, 
                                       d.NM_DIRETORIA, 
                                       cd_unid_adm_class_tit 
                                FROM   sas.['+@p_periodo+'].tb_funcional F 
                                       LEFT JOIN sas.['+@p_periodo+'].tb_escola E 
                                              ON F.cd_unid_adm_class_tit = E.CD_UNIDADE_ADMIN 
                                       LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                                              ON E.CD_DIRETORIA = D.CD_DIRETORIA 
                                WHERE  F.cd_sit_reg = ''A'' 
                                       AND cod_cargo IN ( 6649 ))A 
                               LEFT JOIN sas.['+@p_periodo+'].tb_diretoria D 
                                      ON A.cd_unid_adm_class_tit = D.CD_UNIDADE_ADM 
                        GROUP  BY Isnull(A.CD_DIRETORIA, D.CD_DIRETORIA)) 
                       TB_6649 
                    ON TB_6649.CD_DIRETORIA = TB_6193.CD_DIRETORIA 
GROUP  BY TB6444.NM_DIRETORIA, 
          TB6444.CD_DIRETORIA, 
          TB6444.a, 
          TB6444.d, 
          TB6444.total, 
          TB6200.a, 
          TB6200.d, 
          TB6200.total, 
          TB_6193.[dirigente regional de ensino], 
          TB_6649.[coordenador pedagogico] 
ORDER  BY TB6444.CD_DIRETORIA '

    exec (@v_sql);

END
